:root {
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);
    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
    --main-font: "Red Hat Text", sans-serif;
}

body, html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: var(--main-font);
}

#root {
    width: auto;
    height: auto;
    max-width: 1440px;
}

.no-display {
    display: none !important;
    opacity: 0;
}

.grid {
    display: grid;
}

#home-grid {
    grid-template-columns: 3fr 1fr;
    position: absolute;
    width: 100%;
    place-items: center;
    overflow: hidden;
    padding: .8rem;
}

#home-grid #dessert-con {
    grid-column: 1 / 2;
}

#dessert-con #item-grid {
    grid-template-columns: repeat(3, 1fr);
    overflow-y: scroll;
    padding: .8rem;
    max-height: 1000px;
}

#home-grid #cart-list-con  {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 3;
    position: sticky;
    top: 0;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: .8rem;
}

#home-grid #cart-list-con #cart-list {
    overflow-y: scroll;
    max-height: 1000px;
    padding: .8rem;
}

#home-grid #cart-list-con #cart-bottom {
    margin-top: auto;
}

.item-card .img-con {
    max-width: 250px;
    margin: 0;
}

.item-card .img-con img {
    width: 100%;
    height: 100%;
    display: block;
}

.item-card .card-top {
    position: relative;
}

.item-card .card-btns {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    width: 75%;
    border-radius: .8rem;
}

.item-card .card-btns.multi {
    background: var(--red);
    justify-content: space-evenly;
}

.btn {
    border: 1px solid #ccc;
    align-items: center;
    display: inline-flex;
    padding: .4rem .6rem;
    background: transparent;

}

.btn.small {
    border-radius: 50%;
}

#cart-increment.single {
    background: white;
    width: 75%;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    gap: .6rem;
}

#order-confirmation-modal {
    border-radius: .8rem;
}

#order-confirmation-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

#toast-con {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.toast {
    border-radius: .6rem;
    padding: .4rem .6rem;
    border: 1px solid #ccc;
    font-weight: 600;
    font-size: 14px;
    animation: fadeIn .4s ease-in forwards;
}

.toast.error {
    background-color: red;
}

.toast.success {
    background-color: green;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}